@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap');

:root{
    --font-family: 'Montserrat', sans-serif;
    --bg-color: #00D7FF;
    --primary-color: white;
}

body{
    background-color: var(--bg-color);
    color: var(--primary-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: var(--font-family);
    font-weight: bold;
}

h1{
    font-size: 4rem;
}

h3{
    font-size: 2rem;
    margin-top: 20px;
}

.mensagem{
    font-size: 1.5rem;
    margin-top: 40px;
}

.box{
    border: 2px solid var(--primary-color);
    display: inline-block;
    font-size: 4rem;
    padding: 10px;
    margin: 20px;
}

.btn-jogar{
    margin-top: 20px;
    padding: 10px 16px;
    border: 0;
    border-radius: 6px;
    background-color: var(--primary-color);
    font-family: var(--font-family);
    font-weight: bolder;
    font-size: 1.1rem;
    color: var(--bg-color);
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    transition: all .1s;
}

.btn-jogar:hover{
    transform: scale(1.1);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    transition: all .1s;
}